<%- include('header', {titulo:'Lista de Cachorros'}); %>
<%- include('menu', {variant:'sistema'}); %>

<section class="layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Lista de Cachorros
      </h3>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-12 mx-auto" style='overflow: auto;'> 
            <table id="tabela" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th>Criado</th>
                        <th>Atualizado</th>
                        <th hidden >Imagem</th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody id="dogs">
                    <% for(var i = 0; lista.length>i;i++){ %>
                    <tr>
                        <td><%= lista[i].id %></td>
                        <td><%= lista[i].nome %></td>
                        <td><%= lista[i].raça %></td>
                        <td>
                            <%
                                let data_criada = lista[i].createdAt;
                                let dataFormatada_criada = ((data_criada.getDate() )) + "/" + ((data_criada.getMonth() + 1)) + "/" + data_criada.getFullYear(); 
                            %>
                            <%=  dataFormatada_criada  %>
                        </td>
                        <td>
                            <%
                                let data =lista[i].updatedAt;
                                let dataFormatada = ((data.getDate() )) + "/" + ((data.getMonth() + 1)) + "/" + data.getFullYear(); 
                            %>
                            <%=  dataFormatada  %>
                        </td>
                        <td hidden>
                            <%= lista[i].imagem %>
                        </td>
                        <td><%= lista[i].empresa %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
      </div>

    </div>
  </section>
  
<%- include('footer',{variant:''}); %>