<%- include('header', {titulo:'Lista de Animais'}); %>
<%- include('menu', {variant:'sistema'}); %>
<style>
     .delete-form{
        position:absolute;
        right:16px;
        bottom: -55px;
        z-index: 99;
     }
</style>
<% if(userValues.type != 'admin'){%>
    <style>
         .delete-form{
            display:none;
         }
    </style>
<% } %>
<script type="text/javascript">  
      var vacinas_inputs = "";
      <% for(var i = 0; lista_vacina.length>i;i++){ %>
        vacinas_inputs += "<div><input type='checkbox' id='<%= lista_vacina[i].id %>' name='vacina_<%= lista_vacina[i].id %>' value='<%= lista_vacina[i].id %>'><label for='<%= lista_vacina[i].id %>'><%= lista_vacina[i].nome %></label></div>";
      <%}%>
    conteudo = '<form method="post" action="/sistema/deletar-animais" class="delete-form" onsubmit="return confirm(\'Tem certeza que gostaria de deletar este animal?\');"><input hidden id="id_delete" name="id_delete" type="text" readonly><button class="w3-button w3-red" type="submit">Deletar</button></form><form class="w3-container" action="/sistema/att-animais-post" method="post"><div class="box-cell"><span id="statusUser" class="w3-button w3-green w3-margin-top" >Ativado</span><img id="AvatarDog" alt="Avatar" style="width: 225px;background: lightgray;border: 1px solid lightgray;" class="w3-margin-top" src="../images/usuario-branco.png"></div><div class="box-cell"><input hidden readonly type="text" id="model_id" name="model_id" required><div class="row-n" style="justify-content: center;"><div class="col-md-6 w3-margin-bottom"><label><b>Nome</b></label><input class="w3-input w3-border" type="text" placeholder="" id="model_dogname" name="model_dogname"></div><div class="col-md-5 w3-margin-bottom"><label><b>Raça</b></label><input class="w3-input w3-border" type="text" placeholder="" id="model_raça" name="model_raça" required></div><div class="col-md-11 w3-margin-bottom" style="display: inline-block;"><label><b>Tipo de animal</b></label><div class="radioanimal"><input onClick="habilitacao()" name="animalTipo" id="Cachorro" value="Cachorro" type="radio" style="width:auto"><label for="Cachorro">Cachorro</label><input onClick="habilitacao()" name="animalTipo" id="Gato" value="Gato" type="radio" style="width:auto"><label for="Gato">Gato</label><input onClick="habilitacao()" name="animalTipo" id="Silvestre" value="Silvestre" type="radio" style="width:auto"><label for="Silvestre">Silvestre</label><input onClick="habilitacao()" name="animalTipo" id="Outro" value="Outro" type="radio" style="width:auto"><label for="Outro">Outro</label></div><input name="OutroSubmit" id="OutroSubmit" type="text" placeholder="Digite aqui" style="display:none"></div><div class="col-md-5 w3-margin-bottom"><label><b>Obs.</b></label><textarea class="w3-input w3-border" id="obs_dog" name="obs_dog" cols="60" rows="5"></textarea></div><div class="col-md-6 w3-margin-bottom"><label><b>Vacinas.</b></label><div class="radioanimal">'+vacinas_inputs+'</div></div></div><iframe id="mapa-cachorro" width="100%" height="302" frameborder="0" scrolling="no" zoom="15" style="border:0;" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=COORDENADA&output=embed&dg=oo"></iframe><div class="w3-container w3-border-top w3-padding-16 w3-light-grey" style="width: 100%;position: absolute;left: 0;"><button class="w3-button w3-green" type="submit">Salvar</button><button id="closeModelCancel" type="button" class="w3-button w3-red">Cancelar</button></div><input  hidden readonly id="statusUsuario" name="statusUsuario" type="text"></div></form>';
</script>
<section class="layout_padding">
    <div class="custom_heading-container">
      <h3 class=" ">
        Animais
      </h3>
    </div>
    <div class="menu-simples">
      <a href="/sistema/cadastro-animais">Cadastro de Animais</a>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-12 mx-auto" style='overflow: auto;'> 
            <table id="tabela" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>id</th>
                        <th hidden></th>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th >Tipo</th>
                        <th>Obs</th>
                        <th>Empresa</th>
                        <th hidden>Imagem</th>
                        <th hidden >Latidude</th>
                        <th hidden >Longitude</th>
                        <th >Criado por</th>
                        <th >Status</th>
                        <th>Criado</th>
                        <th>Atualizado</th>
                        <th class="no-sort" >Ações</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody id="animais">
                    <% var contator = 0; for(var i = 0; lista.length>i;i++){ contator++; %>
                    <tr>
                        <td><%= contator %></td>
                        <td hidden><%= lista[i].id %></td>
                        <td><%= lista[i].nome %></td>
                        <td><%= lista[i].raça %></td>
                        <td><%= lista[i].tipo %></td>
                        <td><textarea readonly style="border: 0px;resize: none;"><%= lista[i].obs %></textarea></td>
                        <td><%= lista[i].empresa %></td>
                        <td hidden><%= lista[i].imagem %></td>
                        <td hidden><%= lista[i].latitude %></td>
                        <td hidden><%= lista[i].longitude %></td>
                        <td><%= lista[i].usuario %></td>
                        <td><% if(lista[i].ativo == 1){ %>Ativo<% }else{ %>Desativado<%} %></td>
                        <td>
                          <%
                              let data_criada = lista[i].createdAt;
                              let dataFormatada_criada = ((data_criada.getDate() )) + "/" + ((data_criada.getMonth() + 1)) + "/" + data_criada.getFullYear(); 
                          %>
                          <%=  dataFormatada_criada  %>
                        </td>
                        <td>
                            <%
                                let data =lista[i].updatedAt;
                                let dataFormatada = ((data.getDate() )) + "/" + ((data.getMonth() + 1)) + "/" + data.getFullYear(); 
                            %>
                            <%=  dataFormatada  %>
                        </td>
                        <td id="editar"><b>Editar</b></td>
                        <td id="vacinas"><b>Vacinas</b></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
      </div>

    </div>
  </section>
  
<script>    
    function habilitacao(){        
      if(document.getElementById('Outro').checked == true){
        $("#OutroSubmit").css('display','block');
      }
      if(document.getElementById('Outro').checked == false){
        $("#OutroSubmit").css('display','none');
        $("#OutroSubmit").val('');
      }
    }
</script>
<%- include('footer',{variant:''}); %>