 
    <!-- info section -->
    
    <section class="info_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="info-logo">
              <h2>
                ONG  ERP
              </h2>
              <p>
                Um software capaz de automatizar a gestão de sua ONG de forma eficiente e prática.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-nav">
              <h4>
                Navegação
              </h4>
              <ul>
                <li>
                  <a class='link-direto' <% if(variant == 'index'){ %><%= "href=#inicio" %><% } else { %><%= "href=/#inicio" %><% } %>>
                    Início
                  </a>
                </li>
                <li>
                  <a class='link-direto' <% if(variant == 'index'){ %><%= "href=#quem-somos" %><% } else { %><%= "href=/#quem-somos" %><% } %>>
                    Sobre
                  </a>
                </li>
                <li>
                  <a class='link-direto' <% if(variant == 'index'){ %><%= "href=#servicos" %><% } else { %><%= "href=/#servicos" %><% } %>>
                    Serviços
                  </a>
                </li>
                <li>
                  <a class='link-direto' <% if(variant == 'index'){ %><%= "href=#contato" %><% } else { %><%= "href=/#contato" %><% } %>>
                    Contato
                  </a>
                </li>
                <% if(!userValues.username){ %>
                <li>
                  <a href="#" id="login_footer" >Login</a>     
                </li>
                <% } %>              
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info-contact">
              <h4>
                Informações de Contato
              </h4>
              <div class="location">
                <h6>
                  Endereço físico:
                </h6>
                <a href="">
                  <img src="../images/location.png" alt="">
                  <span>
                    Av. Comendador Enzo Ferrari, 280 - Swift, Campinas - SP, 13045-770
                  </span>
                </a>
              </div>
              <div class="call">
                <h6>
                  Suporte:
                </h6>
                <a href="">
                  <img src="../images/telephone.png" alt="">
                  <span>
                    +55 (19) 99999-9999
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="discover">
              <h4>
                Descobrir
              </h4>
              <ul>
                <li>
                  <a href="/cadastro-usuario-normal">
                    Inscreva-se
                  </a>
                </li>
                <li>
                  <a class='link-direto' <% if(variant == 'index'){ %><%= "href=#contato" %><% } else { %><%= "href=/#contato" %><% } %>>
                    Contato
                  </a>
                </li>
              </ul>
              <div class="social-box">
                <a href="https://www.facebook.com/profile.php?id=100087895126776" target="_blank">
                  <img src="../images/facebook.png" alt="">
                </a>
                <a href="https://twitter.com/OsPresidas" target="_blank">
                  <img src="../images/twitter.png" alt="">
                </a>
                <a href="https://www.instagram.com/ospresidas/" target="_blank">
                  <img src="../images/insta.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/presidas-flvvw-175154258/" target="_blank">
                  <img src="../images/linkedin.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end info_section -->
  <%- include('modals'); %>

  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/scripts.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

</body>

</html>
