<%- include('header', {titulo:'Mapa'}); %>
<%- include('menu', {variant:'mapa'}); %>

<style>
    #map{
        height: 48rem;
        max-width: 100%;
    }
    #tabela-mapa td {
        padding: 10px 10px;
        text-align: left;
        max-width: 170px;
        
    }
    .borda-baixo{
        border-bottom: 1px solid #7b85ff;
    }
</style>

<script type="text/javascript">    
    var timer = 0;
    var map, infoWindow,marker,markerCluster,heatmap;
    var markers = [];
    var _points = [];
    function initMap() {
        var styledMapType = new google.maps.StyledMapType(stylesArray);
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -22.925792615630975, lng: -47.037313460961876 },
            zoom: 15,
            // 1: mundo
            // 5: terra/continente
            // 10: cidade
            // 15: ruas
            // 20: construções
            mapTypeControlOptions: {
                mapTypeIds: [],
            },
        });

        var input = document.getElementById('searchInput');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infoWindow = new google.maps.InfoWindow();
        
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    map.setCenter(pos);
                },
                () => {
                handleLocationError(true, infoWindow, map.getCenter());
                }
            );
            
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
        autocomplete.addListener('place_changed', function() {
            infoWindow.close();
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }
    
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
                map.setZoom(15);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(15);
            }
            
        });


        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set("styled_map", styledMapType);
        map.setMapTypeId("styled_map");
        habilitarMarkers();
        
    }
    function habilitarMarkers(){
        clearMarkers();
        <% 
            for(var i = 0; lista.length>i;i++){ 
                var icone = '';
                var cor_linha = '';
                switch(lista[i].tipo){
                    
                    case "Silvestre":
                        icone = 'patinha-map-blue.png'
                        cor_linha ='#7b85ff';
                        break;
                    case "Cachorro":
                        icone = 'patinha-map-red.png'
                        cor_linha ='#eb5252';
                        break;
                    case "Gato":
                        icone = 'patinha-map.png'
                        cor_linha ='#a9a9a9';
                        break;
                    default:
                        icone = 'patinha-map-green.png'
                        cor_linha ='#52eb7a';
                        break;
                }
        %>   
                     
            pos = {
                lat: <%=lista[i].latitude %>,
                lng: <%=lista[i].longitude %>,
            };   
            // The marker, positioned at Uluru
            marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: '<%=lista[i].id %>',
                icon: '../images/<%=icone%>'
            });   
            markers.push(marker);
            google.maps.event.addListener(marker,'click',function() { 
                if (timer) {
                    clearTimeout(timer);
                    timer = 0;
                }
                $("#conteudoModelCadastro").css('display','none'); 
                $("#conteudoModel").css('display','block'); 
                $("#ModelNotificacao").css('display','none'); 
                $("#full-tela").css("pointer-events" ,"auto");
                $("#full-tela").css("z-index" ,"101");
                // console.log(data);
                $("#full-tela").removeClass("invisible");
                $("#header-model").css("margin-bottom" ,"0px");
                $("#Model").css('display','block');
                $("html").css('overflow','hidden');
                $("#conteudoModel").html(
                    "<div class='w3-container' style='background:white;width: 40rem;height:max-content;border-radius: 10px;box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);padding: 10px 15px;'>"+
                        "<table border='1' id='tabela-mapa' style='width: 100%;height:100%;border-color: <%=cor_linha%>;'>"+
                            "<tr  style='border-top: 1px solid white;'>"+
                                "<td rowspan='3' style='height: 13rem;width: 10rem;border-left: 1px solid white;'>"+
                                    "<img id='AvatarDog' alt='Avatar' style='width: 10rem;max-height: 13rem;' class='w3-margin-top' src='../upload/<%=lista[i].imagem %>'>"+
                                "</td>"+
                                "<td colspan='1'>"+
                                    "<b>Nome: </b><span><%=lista[i].nome %></span>"+
                                "</td>"+
                                "<td colspan='2'  style='border-right: 1px solid white;'>"+
                                    "<b>Achado por: </b><span><%=lista[i].empresa %></span>"+
                                "</td>"+
                            "</tr>"+
                            "<tr>"+
                                "<td colspan='2'>"+
                                    "<b>Raça: </b><span><%=lista[i].raça %></span>"+
                                "</td>"+
                                "<td style='border-right: 1px solid white;'>"+
                                    "<b>Espécie: </b><span><%=lista[i].tipo %></span>"+
                                "</td>"+
                            "</tr>"+
                            "<tr>"+
                                "<td colspan='2'>"+
                                    "<b>Obs: </b><span>"+`<%= lista[i].obs %>`+"</span>"+
                                "</td>"+
                                "<td  style='border-right: 1px solid white;'>"+
                                    "<b>Vacinas: </b>"+
                                    <%                        ;
                                        for(var a = 0; vacinacoes.length>a;a++){
                                        if(lista[i].id == vacinacoes[a].animalId){%>"<%=(vacinacoes[a]['vacina.nome']) %><br>"+<%}        
                                        }
                                    %>                                    
                                "</td>"+
                            "</tr>"+
                            "<tr  style='border-right: 1px solid white;border-left: 1px solid white;border-bottom: 1px solid white;'>"+
                                "<td colspan='4'>"+
                                    "<b>Achado:</b><br>"+
                                    "<iframe id='mapa-cachorro' width='100%' height='302' frameborder='0' scrolling='no' zoom='15' style='border:0;' marginheight='0' marginwidth='0' src='https://maps.google.com.br/maps?q=<%=lista[i].latitude%>,<%=lista[i].longitude%>&output=embed&dg=oo'></iframe>"+
                                "</td>"+
                            "</tr>"+
                        "</table>"+
                    "</div>"
                );
            });
        <% }%>
        markerCluster = new markerClusterer.MarkerClusterer({ map, markers });
    }
    function habilitarHeatmap(){
        clearMarkers();
        <% for(var i = 0; lista.length>i;i++){ %>   
            _points.push(new google.maps.LatLng(<%=lista[i].latitude %>, <%=lista[i].longitude %>));
        <% }%> 
        
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: _points
        });
        heatmap.setMap(map);
    }
    function clearMarkers(){        
        $.each(markers,function(key,marker){
            marker.setMap(null);
        });
        markers = [];
        if(!$.isEmptyObject(markerCluster)){
            markerCluster.setMap(null);
        }
        if(_points != ''){
            heatmap.setMap(null);
        }
        _points = [];
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(
        browserHasGeolocation
        ? "Error: The Geolocation service failed."
        : "Error: Your browser doesn't support geolocation."
    );
}

window.initMap = initMap;
</script>

        
<section class="contact_section">
    <center style="width: 100%;height: 100%;"> 
        <div style="width:100%;height:45px;background-color: rgba(255, 255, 255, 0.24);">
            <input style='width:auto' type="radio" name="grupo1" checked onclick="habilitarMarkers();">Marcadores
            <input style='width:auto' type="radio" name="grupo1" onclick="habilitarHeatmap();">Concentração
        </div>
        <input id="searchInput" style="width: 70%;max-width: 450px;" class="controls" type="text" placeholder="Enter a location">     
        <div id="map"></div>
    </center>
</section>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>` 


<%- include('footer',{variant:''}); %>
