<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>
            <img class="logo-png" src="../images/patinha.png">
          </span>
        </a>      
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <% if(userValues.type != "normal" && userValues.type){ %>
              <li id="inicio-menu" class="nav-item dropdown">
                <a class="nav-link link-direto <% if(variant == 'index'){ %><%= "active" %><% } %>" <% if(variant == 'index'){ %><%= "href=#inicio" %><% } else { %><%= "href=../" %><% } %>>Início</a>                
                  <div class="dropdown-content">
                    <a class="link-direto" <% if(variant == 'index'){ %><%= "href=#quem-somos" %><% } else { %><%= "href=../#quem-somos" %><% } %>> Sobre</a>
                    <a class="link-direto" <% if(variant == 'index'){ %><%= "href=#servicos" %><% } else { %><%= "href=../#servicos" %><% } %>> Serviços</a>
                    <a class="link-direto" <% if(variant == 'index'){ %><%= "href=#contato" %><% } else { %><%= "href=../#contato" %><% } %>> Contato</a>
                  </div>
              </li>
              <li id="sistemas" class="nav-item dropdown">
                <a class="nav-link link-direto <% if(variant == 'sistema'){ %><%= "active" %><% } %>" href="../sistema">Sistemas</a>              
                <div class="dropdown-content">
                  <% if(userValues.type=='admin'){ %>
                  <a href="/sistema/cadastro-usuario" class="link-direto" >Cadastro de Úsuario</a>
                  <% }  %>
                  <a href="/sistema/listar-usuarios" class="link-direto" >Lista de Úsuario</a>
                  <a href="/sistema/cadastro-cachorro" class="link-direto" >Cadastro de Dogs</a>
                  <a href="/sistema/listar-cachorros" class="link-direto" >Lista de Cachorros</a>
                </div>
              </li>
              <% }else{  %>
                <li id="inicio-menu" class="nav-item">
                  <a class="nav-link link-direto" <% if(variant == 'index'){ %><%= "href=#inicio" %><% } else { %><%= "href=../" %><% } %>>Início</a> 
                </li> 
                <li id="inicio-menu" class="nav-item">
                  <a class="nav-link link-direto" <% if(variant == 'index'){ %><%= "href=#quem-somos" %><% } else { %><%= "href=../#quem-somos" %><% } %>> Sobre</a>
                </li>
                <li id="inicio-menu" class="nav-item">
                  <a class="nav-link link-direto" <% if(variant == 'index'){ %><%= "href=#servicos" %><% } else { %><%= "href=../#servicos" %><% } %>> Serviços</a>
                </li>
                <li id="inicio-menu" class="nav-item">
                  <a class="nav-link link-direto" <% if(variant == 'index'){ %><%= "href=#contato" %><% } else { %><%= "href=../#contato" %><% } %>> Contato</a>
                </li>
                <% } %>
                <li id="inicio-menu" class="nav-item">
                  <a class="nav-link link-direto <% if(variant == 'mapa'){ %><%= "active" %><% } %>" href="../mapa">Mapa</a> 
                </li> 
            </ul>
          </div>
        </div>
          
        <div class="dropdown dropdown-user">
          <span class="usuario"><%= userValues.username %></span>
          <a class="navbar-user">
            <span>
              <% if(userValues.imagem){ %>
              <img class="user-logo" src="../upload/<%= userValues.imagem %>">
              <% }else{ %>      
              <img src="../images/usuario-branco.png" alt="" class="user-logo" />  
              <% } %>            
            </span>
          </a>                       
          <div class="dropdown-content" style="right:0;margin-top: 4px;">
            <% if(userValues){ %>
            <a href="../usuario/perfil" class="link-direto">Configurações</a>   
            <form method="post" action="../logout">
              <button type="submit" class="link-direto botao-sair">Sair</button>
            </form>         
            <% }else{ %>      
            <a href="#" id="login" class="nav-link" >Login</a>     
            <% } %>              
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
</div>